* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.main {
  position: absolute;
  height: 85%;
  width: 90%;

  border: 2px solid black;
  overflow-y: scroll;
  top: 2%;
  left: 5%;
  overflow-x: hidden;
  box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
.container1 {
  float: left;
  position: relative;
  height: 50%;
  width: 50%;

  top: 2px;
  right: 2px;
  padding-left: 5px;
  padding-bottom: 20px;
}
.container2 {
  float: right;
  position: relative;
  height: 140%;
  width: 50%;
  overflow: hidden;

  top: 2px;
  left: 2px;
}

.testimg {
  height: 100%;
  width: 100%;
}
h2 {
  font-size: medium;
}
.btncontainer {
  position: relative;
  left: 40%;
  top: 490px;
}
input[type="text"] {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid darkgray;
  width: 80%;
  height: 20%;
  font-size: medium;
  font-weight: lighter;
}
#district {
  width: 90%;
  height: 2%;
  font-size: medium;
  font-weight: lighter;
}
.btn {
  background-color: mediumpurple;
  height: 22px;
  width: 8%;
  border: white;
  color: white;
  box-shadow: 3px lightgray;
  text-decoration: none;
  font-size: large;
}
.btn:hover {
  background-color: rgb(71, 45, 124);
}
